.category-container{
    height: 72vh;
    width: 100%;
    color: black;
}


/* .category-container  li:nth-child(odd) {
    background-color: blueviolet;
    position: relative;
    right: 33%;
}  */
/* .category-container li.category-item div.category-desc:nth-of-type(even){
    position: relative;
    left: 34%;
}

.category-container li.category-item img:nth-child(odd){
    height: 100px;
    position: relative;
    bottom: 25px;
}
.category-container li.category-item div.category-name:nth-child(odd){
    position: relative;
    left: 34%;
} */


.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
}



