.product-listing-page {
  display: flex;
}
.categories {
  height: 100vh;
  width: 20%;
  background-color: lightgrey;
}
.products {
  background-color: white;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: space-between;
  overflow-y: scroll;
}
.product {
  height: 37%;
  width: 22%;
  margin-bottom: 18%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.product .product-name {
  width: 100%;
  height: 24%;
}
section {
  display: flex;
  flex-direction: row;
  height: 16%;
  align-items: center;
  border-bottom: 2px dotted black;
}
section p {
  height: 20%;
  white-space: nowrap;
  width: 30%;
}
.product img {
  height: 100%;
  width: 100%;
}
.product .buy-btn {
  background-color: rgb(166, 20, 139);
  color: white;
  width: 50%;
}
.categories .selected {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin: 4%;
}
.categories .not-selected {
  font-family: 100;
  border-bottom: 1px solid black;
  margin: 4%;
}

.product-desc {
  width: 100%;
  background: lightgray;
  padding: 6%;
  height: 100%;
}
