.product-listing-page {
  display: flex;
}
.categories {
  height: 100vh;
  width: 20%;
  background-color: lightgrey;
}
.products {
  background-color: white;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: space-between;
  overflow-y: scroll;
}
.product {
  height: 50%;
  width: 22%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
section {
  display: flex;
  flex-direction: row;
  height: 16%;
  align-items: center;
  border-bottom: 2px dotted black;
  justify-content: space-between;
}
section p {
  height: 20%;
  white-space: nowrap;
  width: 30%;
}
.product img {
  height: 30%;
  width: 100%;
}
.product .buy-btn {
  background-color: rgb(166, 20, 139);
  color: white;
  width: 50%;
}
.categories .selected {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin: 4%;
}
.categories .not-selected {
  font-family: 100;
  border-bottom: 1px solid black;
  margin: 4%;
}

.product-desc {
  width: 88%;
  background: lightgray;
  padding: 6%;
  height: 21%;
  display: inline-block;
  overflow: hidden;
}

.product .prod-name {
  height: 20%;
  font-weight: 900;
}

/*Media Queries*/
/*Tablet*/
@media only screen and (max-width: 768px) {
  .product {
    width: 45%;
  }
}

/*Mobile*/
@media only screen and (max-width: 480px) {
  .product {
    width: 100%;
  }
  div.products {
    margin-left: 0%;
  }
  .categories {
    width: 100%;
    height: auto;
    position: relative;
  }

  .categories div {
    float: left;
  }
}
