.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContainer {
  width: 500px;
  height: 80vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  background: black;
  color: white;
  height: max-conten;
  padding: 2%;
}

.title span {
  float: left;
}

.title button {
  float: right;
  background: black;
  color: white;
  border: none;
  width: 8%;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .modal-body {
  flex: 50%;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  text-align: center;
  background: #d3d3d3;
}

.modalContainer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  background: white;
}

.modalContainer .footer button {
  width: 90%;
  height: 63%;
  background-color: maroon;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

.cart-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-footer button {
  width: 90%;
  border-radius: 8px;
  margin-bottom: 2%;
  background-color: #fc035a;
  color: white;
}

.modal-empty-body {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: center;
  align-items: center;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 480px) {
  .modalContainer {
    height: 92%;
    position: absolute;
    top: 8%;
    width: 100%;
  }
  .modalContainer .title {
    background: white;
    color: black;
  }
}

@media only screen and (max-width: 767px) {
  .modalContainer {
    height: 92%;
    position: absolute;
    top: 8%;
    width: 100%;
  }
  .modalContainer .title {
    background: white;
    color: black;
  }
}
