.carousel-container{
    width: 100vw;
    height: 20vh;
    background-color: black ;
}

.carousel{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel-item{
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-btn {
   height: 30px;
   width: 30px;
   position: absolute;
   transform: rotate(45deg);
   z-index: 2;
   top: 50%;
   cursor: pointer;
} 

 .left-btn{
    border-bottom: 2px solid black;
    border-left: 2px solid rgb(78,78,78);
    left: 0;
}
.right-btn{
    border-right: 2px solid black;
    border-top: 2px solid black;
    right: 0;
}


