main {
  height: 92%;
  width: 80vw;
  padding: 0% 10%;
  position: absolute;
  top: 10%;
}

.App {
  height: 100vh;
  width: 100vw;
}

footer {
  background: lightgrey;
  text-align: start;
  bottom: 0px;
  width: 100vw;
  position: fixed;
}

@media only screen and (max-width: 480px) {
  main {
    position: fixed;
  }
}

@media only screen and (max-width: 767px) {
  main {
    position: fixed;
  }
}
