.cart-list-product {
  background: white;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.cart-list-product img {
  width: 22%;
}

.cart-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cart-modifier {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cart-details p {
  white-space: nowrap;
  font-size: 0.5em;
  font-weight: 600;
}
.cart-price {
  width: 20%;
}

.cart-modifier button {
  text-align: center;
  width: 8%;
  height: 100%;
  display: block;
  border: none;
}

.cart-modifier p {
  width: 10%;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0%;
}

.lowest-price {
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2% 1%;
  height: 13%;
  gap: 4%;
}

.lowest-price p {
  white-space: nowrap;
  font-size: 0.5em;
}

/*MEDIA QUERIES*/
